@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 229 10% 95%;
    --foreground: 229 5% 0%;
    --card: 229 10% 90%;
    --card-foreground: 229 5% 10%;
    --popover: 229 10% 95%;
    --popover-foreground: 229 95% 0%;
    --primary: 229 41% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 191 10% 85%;
    --muted-foreground: 229 5% 35%;
    --accent: 191 10% 80%;
    --accent-foreground: 229 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 229 5% 90%;
    --border: 229 20% 50%;
    --input: 229 20% 18%;
    --ring: 229 41% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}